.AuthenticationForm {
    display: flex;
    flex-flow: column wrap;
    padding: var(--base-space);
    width: 300px;
}

.AuthenticationForm .submit-button {
    align-self: center;
    margin-top: var(--small-space);
    margin-bottom: var(--small-space);
}

.AuthenticationForm .validation-text {
    height: var(--base-space);
    align-self: flex-start;
    color: var(--light-blue);
    font-style: italic;
    font-size:0.5em;
}

.AuthenticationForm .form-input {
    margin-top: var(--small-space);
    margin-bottom: var(--small-space);
}