.App {
  text-align: center;
  background-color: var(--deep-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}

.authentication,
.todo-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: var(--large-space) 0 var(--large-space) 0;
}

.form {
  display: flex;
  flex-flow: column wrap;
  padding: var(--base-space);
  width: 300px;
}

.submit-button {
  align-self: center;
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);
}

.validation-text {
  height: var(--base-space);
  align-self: flex-start;
  color: var(--aqua);
  font-style: italic;
  font-size:0.5em;
}

.form-input {
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);
  font-size: 1rem;
}

textarea.form-input {
  height: 150px;
}

.tools-bar  {
  position: fixed;
  top: var(--small-space);
  right: var(--small-space);
  z-index: 2;
}

.vertical-buttons-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.buttons-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.buttons-wrap  button,
.vertical-buttons-wrap  button {
  margin: var(--small-space);
}

.edit-todo {
  align-self: flex-start;
}

.todo-list .loader {
  position: fixed;
  right: var(--small-space);
  bottom: var(--small-space);
}