.App {
  text-align: center;
  background-color: var(--deep-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 26px;
  color: white;
  box-sizing: border-box;
}

.App > .loader {
  flex: 1 1 auto;
}

.edit-todo,
.todo-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-flow: column wrap;
  padding: var(--base-space);
  width: 300px;
}

.submit-button {
  align-self: center;
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);
}

.validation-text {
  height: var(--base-space);
  align-self: flex-start;
  color: var(--aqua);
  font-style: italic;
  font-size:0.5em;
}

.form-input {
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);
  font-size: 1rem;
}

textarea.form-input {
  height: 150px;
}

.tools-bar  {
  position: fixed;
  top: var(--small-space);
  right: var(--small-space);
  z-index: 2;
}

.vertical-buttons-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.buttons-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.buttons-wrap  button,
.vertical-buttons-wrap  button {
  margin: var(--small-space);
}

.todo-list > .loader {
  position: fixed;
  right: var(--small-space);
  bottom: var(--small-space);
}


.todos-navigation a {
  text-decoration: none;
  color: var(--grey);
}

.todos-navigation .active {
  font-weight: bold;
  color: white;
}

.todos-navigation,
.pagination {
  margin-bottom: var(--large-space);
}