body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

#root {
    position: relative;
}

button {
    background: var(--deep-blue);
    border-color: var(--deep-blue);
    border-radius: 3px;
    color: white;
    padding: var(--small-space);
    font-weight: bold;
    cursor: pointer;
    min-width: 3em;
}

button.primary {
    background: var(--aqua);
    border-color: var(--aqua);
    color: var(--deep-blue);
}

button.secondary {
    background: white;
    border-color: var(--deep-blue);
    color: var(--deep-blue);
}


button.danger{
    background: var(--red);
    border-color: var(--red);
    color: white;
}

button.disabled {
    cursor: not-allowed;
    background: #999999;
    border-color: #999999;
}

.warning-text {
    color: var(--red);
}

.success-text {
    color: var(--aqua)
}

.clickable {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.App {
    text-align: center;
    background-color: var(--deep-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 26px;
    color: white;
    box-sizing: border-box;
}

.App > .loader {
    flex: 1 1 auto;
}

.edit-todo,
.todo-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-flow: column wrap;
    padding: var(--base-space);
    width: 300px;
}

.submit-button {
    align-self: center;
    margin-top: var(--small-space);
    margin-bottom: var(--small-space);
}

.validation-text {
    height: var(--base-space);
    align-self: flex-start;
    color: var(--aqua);
    font-style: italic;
    font-size: 0.5em;
}

.form-input {
    margin-top: var(--small-space);
    margin-bottom: var(--small-space);
    font-size: 1rem;
}

textarea.form-input {
    height: 150px;
}

.tools-bar {
    position: fixed;
    top: var(--small-space);
    right: var(--small-space);
    z-index: 2;
}

.vertical-buttons-wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.buttons-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.buttons-wrap button,
.vertical-buttons-wrap button {
    margin: var(--small-space);
}

.todo-list > .loader {
    position: fixed;
    right: var(--small-space);
    bottom: var(--small-space);
}


.todos-navigation a {
    text-decoration: none;
    color: var(--grey);
}

.todos-navigation .active {
    font-weight: bold;
    color: white;
}

.todos-navigation,
.pagination {
    margin-bottom: var(--large-space);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.popup {
    box-sizing: border-box;
    position: fixed;
    background: white;
    color:var(--deep-blue);
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    padding: var(--small-space);
}

.popup-title {
    color:white;
    margin-top: calc(0px - var(--small-space));
    margin-left: calc(0px - var(--small-space));
    margin-right: calc(0px - var(--small-space));
    background: var(--deep-blue);
    padding-top: var(--small-space);
    padding-bottom: var(--small-space);
}