:root {
  --base-space: 20px;
  --small-space: 10px;
  --grey:#999;
  --light-blue: #09d3ac;
  --deep-blue: #282c34;
  --red: #ed3315;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inactive-text {
  color: var(--grey);
}

.warning-text {
  color: var(--red);
}

.success-text {
  color: var(--light-blue)
}

.clickable {
  cursor: pointer;
}