:root {
    --large-space: 40px;
    --base-space: 20px;
    --small-space: 10px;
    --grey: #999;
    --aqua: #09d3ac;
    --deep-blue: #282c34;
    --red: #f74f34;
    --beige: #faebd7;
    --light-purple: #e6e6fa;
    --light-pink: #ffe3e1;
    --light-grey: #d3d3d3;
}